.places {
  max-width: 984px;
  margin: 92px auto 0;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 720px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    max-width: 544px;
    margin: 62px auto 0;
  }
}
